/* Variables */
:root {
    --text-grey: #969696;;
    --text-black: #333333;
    --twitter-blue: #55ACEE;
}

/* Fonts */
@font-face {
font-family: GoogleSansBold;
src: url(../fonts/googleSans/GoogleSans-Bold.ttf);
}

@font-face {
font-family: GoogleSansRegular;
src: url(../fonts/googleSans/GoogleSans-Regular.ttf);
}

/*
* Responsive elements from Skeleton V2.0.4 路 Copyright 2014, Dave Gamache 路 www.getskeleton.com
* Free to use under the MIT license 路 http://www.opensource.org/licenses/mit-license.php 路 12/29/2014
*/
/* ------ Grid ------ */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 90%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%;  }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }
}

/* Media Queries */
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
/* ------ End grid ------ */


/* Base Styles */
html {
  font-size: 62.5%; }

body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: var(--text-black);
}

.portfolio-content {
  margin-bottom: 20%;
}

.portfolio-content {
  position: relative;
  margin-top: 4rem; }

.image-wrapper {
  border-radius: 8px;
  display: block;
  position: relative;
  overflow: hidden;
  height: 250px;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.1), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.02);
  transition: box-shadow .25s ease-in;
   -moz-transition: box-shadow .25s ease-in;
   -webkit-transition: box-shadow .25s ease-in;
  }

.portfolio-container:hover
.image-wrapper {
    box-shadow: 0 6px 6px -2px rgba(0,0,0,.3), 0 6px 8px 0 rgba(0,0,0,.14), 0 2px 16px 0 rgba(0,0,0,.22);
  }

.thumbnail {
    width: 100%;
    height: auto; }

.header p{
  text-align: left;
  font-size: 7rem;
  font-weight: 700;
  line-height: 8.5rem;
  font-family: 'roboto', monospace;
}

.header a{
  color: var(--text-black);
  font-weight: 700;
  text-decoration: none;
  font-family: 'GoogleSansBold', sans-serif;
}

#menu{
  padding: 2% 0 2% 0;
}

.navbar-list{
  list-style: none;
  margin-bottom: 0;
}

.navbar-item{
  position: relative;
  float: left;
  margin-bottom:5%;
  height: 40px;
}

.desc-story{
  font-size: 1.2rem;
  color: #B4B4B4;
  padding: 0 0 5% 0;
  font-family: 'roboto mono', monospace;
}

.desc-story a{
color:#B4B4B4;
text-decoration: underline;
}

.photo-container {
  margin-bottom: 2%;
  margin-top: 8%;
}

.photo-container img{
  max-width: 100%;
}

.portfolio-project-container{
  text-align: left;
  padding: 4% 0 4% 0;
}

.portfolio-project-container p{
  text-align: left;
  padding: 3% 0 3% 0;
}

.portfolio-container img{
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
}

.story-footer{
  text-align: center;
  border-top: 1px solid #e6e6e6;
  margin-top: 10%;
}

.story-footer p{
  font-size: 1.4rem;
  color: var(--text-grey);
  padding: 5% 0 0 0;
  text-transform: uppercase;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  border-bottom: 5px solid #FFF;
  transition: color .20s ease-in;
   -moz-transition: color .20s ease-in;
   -webkit-transition: color .20s ease-in;
  transition: border-bottom .20s ease-in;
   -moz-transition: border-bottom .20s ease-in;
   -webkit-transition: border-bottom .20s ease-in;
   }

h2 {
  line-height: 1.25;
  margin-top: 2rem;
  margin-bottom: 0.2rem;
  font-weight: 300;
  color:#333335;
  letter-spacing: 0.04rem;
  font-family: 'GoogleSansRegular', monospace;
}

h3 {
  font-family: 'GoogleSansRegular', 'Roboto', sans-serif;
  color: var(--text-grey);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  white-space: nowrap;
  padding-bottom: 5px;
  border-radius: 0px;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 5px solid #FFF;
}

#title {
  font-family: 'GoogleSansBold', 'Roboto', sans-serif;
}

/* phone  */
@media (max-width: 550px) {
.header p{
  font-size: 6rem;
    font-weight: 700;
    line-height: 6rem;
    font-family: 'roboto', monospace;
  }
}

p {
  margin-top: 0;
  padding-right:0%;
  line-height: 3rem}

a {
  text-decoration: none;
  color: var(--text-grey);
  cursor: pointer;
}

ol, ul {
  padding-left: 0;
  margin-top: 0; }

button,
.button {
  margin-bottom: 1rem;
}

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* MORE CSS */
.example-grid .column,
.example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

.example {
  position: relative;
  margin-top: 4rem;
}

.thumbnail-image-wrapper {
  border-radius: 8px;
  display: block;
  position: relative;
  overflow: hidden;
  height: 250px;
  box-shadow: 0 12px 65px 2px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0);
  transition: box-shadow .25s ease-in;
   -moz-transition: box-shadow .25s ease-in;
   -webkit-transition: box-shadow .25s ease-in;
  }

.thumbnail-image-wrapper:hover {
  box-shadow: 0 12px 65px 2px rgba(0, 0, 0, 0.1), 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.thumbnail-img {
  width: 100%;
  height: auto;
}

.navbar {
  display: none; }

/* Larger than phone */
@media (min-width: 550px) {
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem; }
  .docs-section {
    padding: 0rem 0; }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px; }
  .thumbnail-image-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none; }
}

/* Navigation Bar */
.navbar-link {
  font-family: 'GoogleSansBold', 'Roboto', sans-serif;
  color: var(--text-black);
  margin-right: 35px;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  white-space: nowrap;
  background-color: #FFF;
  padding-bottom: 5px;
  border-radius: 0px;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  border-bottom: 5px solid #FFF;
  transition: color .20s ease-in;
   -moz-transition: color .20s ease-in;
   -webkit-transition: color .20s ease-in;
  transition: border-bottom .20s ease-in;
   -moz-transition: border-bottom .20s ease-in;
   -webkit-transition: border-bottom .20s ease-in;
}

.navbar-link:hover {
  color: var(--text-black);
  border-bottom: 5px solid var(--text-black);
}

#active {
  color: var(--text-black);
  letter-spacing: 0.2rem;
  border-bottom: 5px solid var(--text-black);
}

.button {
  font-family: 'GoogleSansBold', 'Roboto', sans-serif;
  color: var(--text-grey);
  margin-right: 35px;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  background-color: #FFF;
  padding-bottom: 5px;
  border-radius: 0px;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  border-bottom: 5px solid #FFF;
  transition: color .20s ease-in;
   -moz-transition: color .20s ease-in;
   -webkit-transition: color .20s ease-in;
  transition: border-bottom .20s ease-in;
   -moz-transition: border-bottom .20s ease-in;
   -webkit-transition: border-bottom .20s ease-in;
}

#departure-inline-link {
color: rgb(66, 133, 244);
font-family: 'Roboto-bold'
padding-bottom: 5px;
  border-bottom: 5px solid #FFF;
  transition: color .20s ease-in;
   -moz-transition: color .20s ease-in;
   -webkit-transition: color .20s ease-in;
  transition: border-bottom .20s ease-in;
   -moz-transition: border-bottom .20s ease-in;
   -webkit-transition: border-bottom .20s ease-in;
}

#departure-inline-link:hover {
  border-bottom: 5px solid rgb(66, 133, 244);
}

.heading-link {
  color: var(--text-grey);
  cursor: pointer;
}

.heading-link:hover {
  color: var(--text-black);
  cursor: pointer;
}

#homebtn {
  margin-right: 0px;
}

/* Departure Board  */
#departure-button {
    color: rgb(66, 133, 244);
}
#departure-button:hover {
    border-bottom: 5px solid rgb(66, 133, 244);
}

/* ----------- Work ------------ */
/* Work Title */
.work-title {
  height:50px;
  line-height:50px;
  margin-top: 5%;
  margin-bottom: 25px;
}

.work-back {
  color: #000;
  font-size: 1.5rem;
  font-weight:300;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  display: inline;
  vertical-align:middle;
}

.work-header {
  color: #000;
  font-size: 3.4rem;
  font-weight:300;
  text-decoration: none;
  font-family: 'roboto mono', monospace;
  font-family: 'GoogleSansBold', 'Roboto', sans-serif;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
  vertical-align: middle;
}

/* Work Subtitle */
.work-subtitle {
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
  vertical-align:middle;
  text-align: center;
  margin-top: 40px;
}

table, td{
  border-color:transparent;
  padding-top: 0px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 7px;
}

td {
  text-align: center;
}

.work-subtitle-categories {
  color: var(--text-grey);
  text-align: center;
}

.work-subtitle-options {
  color: #000;
  text-align: center;
}

/* Work Body */
.work-body-text {
  margin-top: 140px;
}

.showprocess {
  margin-top: 20px;
  margin-bottom: 20px;
}

.work-body-container {
  width: 82%;
  margin-top: 10%;
  margin: auto;
}

#font-bold {
  font-family: 'GoogleSansBold', 'Roboto', sans-serif;
}

#font-regular {
  font-family: 'GoogleSansRegular', 'Roboto', sans-serif;
}

#font-bold a {
  font-family: 'GoogleSansBold', 'Roboto', sans-serif;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

#font-bold a:hover {
  font-family: 'GoogleSansBold', 'Roboto', sans-serif;
  color: #000;
  text-shadow:none;
  cursor: url(../hand.png),pointer !important;
}

a:hover {
  cursor: url(../hand.png),pointer !important;
}

.designBotbtn {
  color: var(--twitter-blue);
}

.work-block {
  vertical-align:middle;
  width: 50%;
  margin: 0 auto;
}

.work-block-p {
  margin-top: 40px;
  vertical-align:middle;
  text-align: left;
}
